.services {
  margin-bottom: 235px;
}

.services__title {
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
}

.services__list {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-block-end: 0;
}

.services__item {
  width: 193px;
  height: 203px;
  background-color: #FFFFFF;
  padding: 30px 32px 28px 35px;
  text-align: center;
  border: 1px solid #F3F3F3;
  list-style-type: none;
  border-radius: 5px;
}

.services__item-link {
  text-decoration: none;
  color: #333333;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}



.services__first {
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  height: 215px;

  &::before {
    position: absolute;
    background-image: url("../../images/rightvector.svg");
    background-repeat: no-repeat;
    left: -30px;
    top: 100px;
    width: 20px;
    height: 30px;
    content: "";
  }
  
  &:hover::before {
    background-color: #FFFFFF;
  }

  &:hover::before {
    opacity: 0.6;
  }
}

.services__last {
  position: relative;

  &::after {
    position: absolute;
    background-image: url("../../images/leftvector.svg");
    background-repeat: no-repeat;
    top: 100px;
    right: -35px;
    width: 20px;
    height: 30px;
    content: "";

  }

  &:hover:after {
    background-color: #FFFFFF;
  }

  &:hover:active {
    opacity: 0.6;
  }

}

.services__first-item {
  margin: 0 30px;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 5px;

}

.services__first-pictures {
  padding: 41px 0 41px 8px;
}

.services__first-content {
  width: 492px;
  margin-left: 67px;
  margin-top: 43px;
}

.services__first__title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
}

.services__first__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.services__cat {
  border-radius: 5px;
}

.services__first__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-right: 21px;
  margin-top: 25px;
  padding: 15px 36px 16px 63px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FFBD54;
  border-radius: 3px;



  &:hover {
    color: #FFBD54;
    background-color: #333333;
    border-radius: 3px;
  }

  &:active {
    color: #FFBD54;
    background-color: #333333;
    border-radius: 3px;
    opacity: 0.5;
  }
}

.services__second__link {
  display: inline-block;
  font-weight: 500;
  padding: 15px 37px 15px 64px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #333333;
  text-decoration: none;
  border-radius: 3px;


  &:hover {
    color: #333333;
    background-color: #FFBD54;
    border-radius: 3px;
  }

  &:active {
    opacity: 0.5;
  }
}